a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--border-card);
  background-color: var(--color-text-primary);
  transition: all 0.2s ease-in-out;
  background-color: oklch(1 0 0);

  & > img {
    width: 100%;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    & > img {
      scale: 1.1;
    }
  }
}
