<div class="profile-card">
  <img [src]="avatar()" [alt]="name()" />
  <h2>
    <span class="name">{{ name() }}</span>
    <span class="lastname"> {{ lastname() }}</span>
  </h2>

  @if (curriculum()) {
    <download-link [text]="'Download CV'" [url]="curriculum() || ''"></download-link>
  }

  <p class="bio">{{ bio() }}</p>

  @if (socialAccounts()) {
    <ul class="social-media-list">
      @for (account of socialAccounts(); track account.name) {
        <li class="social-media-item">
          <icon-link [icon]="account.icon" [url]="account.url"></icon-link>
        </li>
      }
    </ul>
  }
</div>
