div.square{
  width: 100%;
  border-radius: 10px;

  &.primary{
    background-color: var(--color-dark-primary);
  }

  &.secondary{
    background-color: var(--color-dark-secondary);
  }

  &.ternary{
    background-color: var(--color-dark-ternary);
  }

  &.quarternary{
    background-color: var(--color-dark-quarternary);
  }
}

div.color-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
  height: 200px;
  max-width: 800px;
  gap: 20px;
}

div.overrided-colors{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
  max-width: 800px;
  gap: 20px;
  height: 200px;

  & > div{
    display: flex;
    align-items: center;
    justify-content: center;

    & > div{
      width: 50%;
      height: 50%;
    }
  }

  & .square.primary{
    background-color: var(--color-dark-primary);
  }

  & .square.secondary{
    background-color: var(--color-dark-secondary);
  }


}